body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
    background-color: #f3f3f3;
  }
  
  .topBar {

    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: absolute;
    top: 0;
    font-family: 'Product Sans', sans-serif;
  }
  
  .topBar p {
    font-size: 25px;
    font-weight: 100;
    transform: rotate(90deg)
  }
  
  .gdscLogo {
    text-align: center;
    margin-right: 20px;
  
  }
  
  .gdscLogo img {
    height: 60px;
  }
  

  
  .paceLogo img {
    height: 65px;
    margin-left: 20px;
  }
  
  .logoName img {
    height: 40px;
  }
  


  .chrome-card {
    width: 200px;
    height: 200px;
    position: relative;
  }
  
  .circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
  }
  
  .red {
    background-color: #DB4437; /* Red */
    top: 0;
    left: 0;
  }
  
  .yellow {
    background-color: #F4B400; /* Yellow */
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .green {
    background-color: #0F9D58; /* Green */
    top: 0;
    right: 0;
  }
  

  @media screen and (max-width:768px) {
    .topBar {
    height: 70px;
    }
    .topBar img{
      height: 35px;
    }
    .topBar p{
      font-size: 12px;
    }
    .particle-container{
      display: none;
    }

  }